@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark: #000000;
    --purple: #522b79;
    --borderColor: #2d1843;
    --primaryPurple: #9a236f;
    --violet: #3E205B
  }
}
